.box_body {
    background-color:white;
    height: 300px;
    width: 700px;
    margin: 100PX;
    margin-left: 240px;
    border: 1px solid black;
    border-radius: 8px;
}
.lblbold{
    font-family:'Franklin Gothic Medium';
     font-size:25px;
     color:midnightblue;
}